<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/deviceRealtimeData.css" th:href="@{/assets/css/deviceRealtimeData.css}"/>
	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.css" th:href="@{/assets/css/jquery.datetimepicker.css}"/>
	<script src="../static/assets/js/jquery-2.0.3.min.js" th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>
	<script src="../static/assets/js/echarts.min.js" th:src="@{/assets/js/echarts.min.js}"></script>
	<script src="../static/assets/js/mqttws31.min.js" th:src="@{/assets/js/mqttws31.min.js}"></script>
	<title>亿维智能云平台设备实时数据页面</title>
	<style type="text/css" th:inline="text">
		
	</style>
</head>
<body>
	<div class="container">
		<div id="equip-data" class="equip-data"></div>
	</div>

	<div id="addModal" tabindex="-1" class="addModal hide">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="close-modal"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal-title"></h4>
				</div>
				<div class="modal-body">
					<div class="form-inline chart-search">
						<div class="form-group">
							<div class="input-group">
								<input id="beginDatetime" class="form-control input" type="text" placeholder="开始时间">
								<span id="openBeginTime" class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group margin-right-15">
							<div class="input-group">
								<input id="endDatetime" class="form-control input" type="text" placeholder="结束时间">
								<span id="openEndTime" class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<button class="btn btn-default" id="search">
							<span class="glyphicon glyphicon-search"></span>
							搜索
						</button>
					</div>
					<div class="echart" id="echart" style="width: 600px;height:400px;"></div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>

	<script src="../static/js/deviceRealtimeData.js" th:src="@{/js/deviceRealtimeData.js}"></script>
    <script src="../static/assets/js/jquery.datetimepicker.js" th:src="@{/assets/js/jquery.datetimepicker.js}"></script>

	<script type="text/javascript">
        var getUrl = window.location.search;
        var devSNCode = getUrl.substring(11);
        $(window.parent).resize(function(){
            $(".container").width($(window).width());
        });
	</script>
</body>
</html>