<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/deviceHistory.css" th:href="@{/assets/css/deviceHistory.css}"/>
	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.css" th:href="@{/assets/css/jquery.datetimepicker.css}"/>
	<script src="../static/assets/js/jquery-2.0.3.min.js" th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>
	<title>index</title>
	<style type="text/css">
		
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="form-inline history-search clearfix">
				<div class="col-md-10">
					<div class="form-group">
						<div class="input-group">
							<input id="beginDatetime" class="form-control input" type="text" placeholder="开始时间">
							<span id="openBeginTime" class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
						</div>
					</div>
					<div class="form-group margin-right-15">
						<div class="input-group">
							<input id="endDatetime" class="form-control input" type="text" placeholder="结束时间">
							<span id="openEndTime" class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
						</div>
					</div>
					<button class="btn btn-default" id="search">
						<span class="glyphicon glyphicon-search"></span>
						搜索
					</button>
					<button class="btn btn-default pull-right" id="exportData">
						<span class="glyphicon glyphicon-cloud-download"></span>
						导出数据
					</button>
				</div>
			</div>
		</div>
		<div class="list-border">
			<table class="table table-hover table-striped">
				<thead class="list-head history_load_head"></thead>
				<tbody class="history_load_list"></tbody>
			</table>
		</div>
		<div class="list-footer clearfix">
			<div class="pull-right">
				<ul id="page-right" class="pagination pagination-margin-0 pagination-sm"></ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        var getUrl = window.location.search;
        var devSNCode = getUrl.substring(11);
        $(window.parent).resize(function(){
            $(".container").width($(window).width());
        });
	</script>


	<script src="../static/assets/js/mqttws31.min.js" th:src="@{/assets/js/mqttws31.min.js}"></script>
	<script src="../static/assets/js/jquery.datetimepicker.js" th:src="@{/assets/js/jquery.datetimepicker.js}"></script>
	<script src="../static/assets/js/bootstrap-paginator.js" th:src="@{/assets/js/bootstrap-paginator.js}"></script>
	<script src="../static/js/deviceHistory.js" th:src="@{/js/deviceHistory.js}"></script>
</body>
</html>