<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8" />
	<title>亿维智能云平台主页</title>
	<link rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}"/>
	<link rel="stylesheet" href="../static/assets/css/index.css" th:href="@{/assets/css/index.css}"/>
	<script src="../static/assets/js/jquery-2.0.3.min.js" th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>
	<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
	<script src="../static/assets/js/jQuery.md5.js" th:src="@{/assets/js/jQuery.md5.js}"></script>

	<script type="text/javascript">
        function getUser(){
            var getUrl = location.search;
            var userName = getUrl.substring(10);
            var getName = document.getElementById("check");
            getName.innerHTML = "欢迎登录，</br>" + userName;
        }
	</script>

</head>
<body th:background="@{/assets/images/indexbg.png}" onload="getUser()">
	<header>
		<div class="pull-left">
			<img  class="logo" th:src="@{/assets/images/logo.png}" />
		</div>
		<div class="pull-right">
			<ul class="ace-nav">
				<li>
					<span class="pointer" id="userDropdownBtn">
						<img class="nav-user-photo" th:src="@{/assets/images/avatar.png}" />
						<span class="user-info" id="check"></span>

					</span>
		            <ul class="dropdown" id="userDropdown">
						<li><span class="pointer" id="modifyAdmin">编辑个人资料</span></li>
						<li class="divider"></li>
						<li><span class="pointer" id="modifyPassword">重置密码</span></li>
						<li class="divider"></li>
						<li><span class="pointer" id="logout">退出</span></li>
		            </ul>
	            </li>
			</ul>
		</div>
	</header>
	<nav>
		<div class="navbar">
			<div class="leftsidebar_box">
				<div class="line"></div>
				<dl class="system_log">
					<dt>设备监控<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>
					<dd class="first_dd" >
						<a target="fname" href="device.html">设备注册</a>
					</dd>
					<dd><a href="devList.html" target="fname">设备列表</a></dd>
					<dd><a href="deviceMap.html" target="fname">设备地图</a></dd>
					<dd><a href="#">预留</a></dd>
				</dl>

				<dl class="custom">
					<dt>预留字段1<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>
					<dd class="first_dd"><a href="#">1</a></dd>
					<dd><a href="#">2</a></dd>
					<dd><a href="#">3</a></dd>
					<dd><a href="#">4</a></dd>
				</dl>

				<dl class="channel">
					<dt>预留字段2<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>
					<dd class="first_dd"><a href="#">1</a></dd>
					<dd><a href="#">2</a></dd>
					<dd><a href="#">3</a></dd>
					<dd><a href="#">4</a></dd>
					<dd><a href="#">5</a></dd>
				</dl>

				<dl class="app">
					<dt>预留字段3<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>
					<dd class="first_dd"><a href="#">1</a></dd>
					<dd><a href="#">2</a></dd>
					<dd><a href="#">3</a></dd>
				</dl>

				<!--<dl class="cloud">-->
					<!--<dt>预留字段4<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>-->
					<!--<dd class="first_dd"><a href="#">1</a></dd>-->
				<!--</dl>-->

				<!--<dl class="syetem_management">-->
					<!--<dt>预留字段5<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>-->
					<!--<dd class="first_dd"><a href="#">1</a></dd>-->
					<!--<dd><a href="#">2</a></dd>-->
					<!--<dd><a href="#">3</a></dd>-->
					<!--<dd><a href="#">4</a></dd>-->
					<!--<dd><a href="#">5</a></dd>-->
					<!--<dd><a href="#">6</a></dd>-->
					<!--<dd><a href="#">7</a></dd>-->
					<!--<dd><a href="#">8</a></dd>-->
				<!--</dl>-->

				<!--<dl class="source">-->
					<!--<dt>预留字段6<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>-->
					<!--<dd class="first_dd"><a href="#">1</a></dd>-->
					<!--<dd><a href="#">2</a></dd>-->
					<!--<dd><a href="#">3</a></dd>-->
				<!--</dl>-->

				<!--<dl class="statistics">-->
					<!--<dt>预留字段7<img src="../static/assets/images/left/select_xl01.png" th:src="@{/assets/images/left/select_xl01.png}"></dt>-->
					<!--<dd class="first_dd"><a href="#">1</a></dd>-->
				<!--</dl>-->

			</div>
		</div>
		<div class="fdiv">
			<iframe name="fname" src="device.html" class="fname" scrolling="no"></iframe>
		</div>
	</nav>
	<footer></footer>

	<div id="addModal" tabindex="-1" class="addModal hide">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="close-modal"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">修改个人资料</h4>
				</div>
				<div class="modal-body">
					<form class="modal-form" role="form">

						<div class="form-group">
							<span>帐号：</span>
							<input id="userName" readonly="readonly" type="text" class="form-control" placeholder="" />
						</div>
						<div class="form-group">
							<span>用户类型：</span>
							<input id="userClass" readonly="readonly" type="text" class="form-control" placeholder="输入用户类型" />
						</div>
						<div class="form-group" >
							<span>职位：</span>
							<input id="userPost" type="text" class="form-control" placeholder="输入职位" />
						</div>
						<div class="form-group">
							<span>邮箱：</span>
							<input id="userMail" type="text" class="form-control" placeholder="输入邮箱" />
						</div>
						<div class="form-group" >
							<span>所在公司：</span>
							<input id="userCompany" type="text" class="form-control" placeholder="输入所在公司" />
						</div>
						<div class="form-group" >
							<span>联系方式：</span>
							<input id="userTelephone" type="text" class="form-control" placeholder="输入联系方式" />
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" id="saveUserInfoBtn" class="btn btn-success radius">&nbsp;保&nbsp;&nbsp;存&nbsp;</button>
					<button type="button" id="cancelSave" class="btn btn-danger radius">&nbsp;取&nbsp;&nbsp;消&nbsp;</button>
				</div>
			</div>
		</div>
	</div>

	<div id="addModalPassword" tabindex="-1" class="addModal hide">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="close-modal-password"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">密码重置</h4>
				</div>
				<div class="modal-body">
					<form class="modal-form" role="form">

						<div class="form-group" >
							<span>密码重置：</span>
							<input id="userPassword" type="text" class="form-control" placeholder="输入密码" />
						</div>
						<div class="form-group" >
							<span>密码重置确认：</span>
							<input id="userPasswordAgain" type="text" class="form-control" placeholder="输入密码" />
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" id="savePasswordInfoBtn" class="btn btn-success radius">&nbsp;保&nbsp;&nbsp;存&nbsp;</button>
					<button type="button" id="cancelSavePassword" class="btn btn-danger radius">&nbsp;取&nbsp;&nbsp;消&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>